[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "dotbot-vscode"]
	path = dotbot-vscode
	url = git@github.com:LiquidPL/dotbot-vscode.git
[submodule "pyenv"]
	path = pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "phpenv"]
	path = phpenv
	url = https://github.com/phpenv/phpenv.git
[submodule "php-build"]
	path = php-build
	url = https://github.com/php-build/php-build.git
[submodule "dotbot-gsettings"]
	path = dotbot-gsettings
	url = git@github.com:LiquidPL/dotbot-gsettings.git
[submodule "nvm"]
	path = nvm
	url = https://github.com/nvm-sh/nvm.git
[submodule "private"]
	path = private
	url = git@github.com:LiquidPL/dotfiles-private
