[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-vscode"]
	path = dotbot-vscode
	url = git@github.com:LiquidPL/dotbot-vscode.git
[submodule "pyenv"]
	path = pyenv
	url = https://github.com/pyenv/pyenv
[submodule "phpenv"]
	path = phpenv
	url = git://github.com/phpenv/phpenv.git
[submodule "php-build"]
	path = php-build
	url = https://github.com/php-build/php-build
